<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button mat-raised-button style="float: right;" color="warn" (click)="addCustomer()">Add</button>
        </div>
        <div class="col-sm-12">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
              </mat-form-field>
              
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Position Column -->
                <!-- <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container> -->
              
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dob">
                  <th mat-header-cell *matHeaderCellDef> DOB </th>
                  <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
              
                <ng-container matColumnDef="gender">
                  <th mat-header-cell *matHeaderCellDef> Gender </th>
                  <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Qualification">
                  <th mat-header-cell *matHeaderCellDef> Qualification </th>
                  <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
                </ng-container>

                Qualification
                <ng-container matColumnDef="actions" style="width: 30px;">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="accent" (click)="editCustomer(element)">
                          <mat-icon class="mat-18">system_update</mat-icon>
                      </button>
                      <button mat-icon-button color="warn"  (click)="customerDelete(element)">
                            <mat-icon class="mat-18">delete</mat-icon>
                      </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>
