<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>Settings</span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">build</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Customers</span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">account_circle</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-raised-button color="accent" class="app-sidebar-button">
            <mat-icon class="example-icon">verified_user</mat-icon>
            Login
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Favorites</span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">favorite</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-raised-button color="warn" class="app-sidebar-button">
            <mat-icon class="example-icon">delete</mat-icon>
            Delete
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav>
  
    <mat-toolbar color="primary">
      <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="title">Angular Material Demo</span>
      <span class="example-spacer"></span><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon"
      matBadgeColor="warn" style="margin-right: 15px;">shopping_cart</mat-icon>
    </mat-toolbar>
  
    <div class="app-content">
      <div style="height: 92vh;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>