<div class="page-wrap">
    <div class="conntainer" id="page-wrap-container">
        <div class="container" novalidate>
            <div>
                <mat-card>
                    <div class="row">
                        <div class="col-sm-12 mb-2">
                            <button mat-raised-button color="primary" class="full-width">Login with facebook</button>
                        </div>
                        <div class="col-sm-12">
                            <button mat-raised-button color="accent" class="full-width">Login with Google</button>
                        </div>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="loingPos(loginForm.value)">
                        <div class="m-2">
                            <!-- <mat-card-content class="text-center">
                            <span class="login-form-heading">Login</span>
                        </mat-card-content> -->
                            <mat-form-field appearance="outline" class="user-form">
                                <input matInput type="text" placeholder="User Name" formControlName="username" required>
                            </mat-form-field>
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">username is required</div>
                            </div>
                            <mat-form-field appearance="outline">
                                <input matInput type="text" id="password" formControlName="password"
                                    placeholder="Password" required>
                            </mat-form-field>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">password is required</div>
                            </div>
                            <div class="button">
                                <button type="submit" mat-button  color="primary">Sign In</button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>