.page-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(1,9,18,1) 100%);
    // background-color: black;
    // color: white;
  }
  .login-form-heading {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 5px;
    font-family: Roboto-Bold !important;
    text-transform: capitalize;

  }

  form{
    max-width: 600px;
    margin: auto;
  }
  mat-form-field{
    display: block;
  }

//   .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
//     outline: none !important;
//   }

// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.6em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-form-field-infix {
    padding: .5em 0;
    border-top: 0px !important;
}


::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}

.button {
    display: flex;
    justify-content: flex-end;
}


.user-form {
    padding-top: 20px;
}
.full-width {
  width: 100%;
}