<div>
    <div class="add-title">
      <h2 class="primary" *ngIf="!edit">Add customer</h2>
      <h2 class="primary" *ngIf="edit">Update customer</h2>
    </div>
    <div>
      <form [formGroup]="addCusForm" (ngSubmit)="addCustomer(addCusForm.value)">
        <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px">
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstname" maxlength="20" required>
                <mat-error *ngIf="addCusForm.controls.firstname.hasError('required')">
                  Please enter first name
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.firstname.hasError('firstname')">
                  Please enter valid name
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName="lastname" maxlength="20" required>
                <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                  Please enter last name
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.lastname.hasError('lastname')">
                  Please enter valid name
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email address" formControlName="email" maxlength="30"  required>
                <mat-error *ngIf="addCusForm.controls.email.hasError('required')">
                  Please enter email id
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.email.hasError('email')">
                  Please enter valid email id
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mobile No" formControlName="mobile" (keypress)="numberOnly($event)" maxlength="10" required>
                <mat-error *ngIf="addCusForm.controls.mobile.hasError('required')">
                  Please enter mobile no.
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.mobile.hasError('mobile')">
                  Please enter valid mobile no.
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <mat-label>Qualification</mat-label>
                <mat-select formControlName="qualification">
                  <mat-option *ngFor="let qa of qualification"  [value]="qa.viewValue">
                    {{qa.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addCusForm.controls.qualification.hasError('required')">
                  Please select Qualification
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.qualification.hasError('qualification')">
                  Please select Qualification
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <mat-label>Select DOB</mat-label>
                <input matInput [matDatepicker]="dp3" formControlName="dob" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <textarea matInput placeholder="Comments" formControlName="comments" maxlength="30"></textarea>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <!-- <mat-grid-tile>
            <div class="text-inside">
              <div class="gender">
                <div style="color:grey;">Languages</div>
                <mat-checkbox class="example-margin" formControlName="languages" *ngFor="let l of languages" [value]="l">{{l}}</mat-checkbox>
              </div>
            </div>
          </mat-grid-tile> -->
          <mat-grid-tile>
            <div class="text-inside">
              <mat-radio-group class="gender" formControlName="gender">
                <div style="color:grey;">Gender</div>
                <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" *ngFor="let g of gender" [value]="g">{{g}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Addressline 1" formControlName="line1" maxlength="20" required>
                <mat-error *ngIf="addCusForm.controls.line1.hasError('required')">
                  Please enter Address Line 1
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.line1.hasError('pattern')">
                  Please enter Address Line 1
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Addressline 2" formControlName="line2" maxlength="20" required>
                <mat-error *ngIf="addCusForm.controls.line2.hasError('required')">
                  Please enter Address Line 2
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.line2.hasError('pattern')">
                  Please enter Address Line 2
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Pincode" formControlName="pincode" (input)="PinCodeCheck($event)" (keypress)="numberOnly($event)" maxlength="6" required>
                <mat-error *ngIf="addCusForm.controls.pincode.hasError('required')">
                  Please enter Pincode
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.pincode.hasError('pattern')">
                  Please enter Pincode
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="City" formControlName="city" maxlength="20" required>
                <mat-error *ngIf="addCusForm.controls.city.hasError('required')">
                  Please enter City
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.city.hasError('pattern')">
                  Please enter City
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="State" formControlName="state" maxlength="20" required>
                <mat-error *ngIf="addCusForm.controls.state.hasError('required')">
                  Please enter State
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.state.hasError('pattern')">
                  Please enter State
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country" formControlName="country" maxlength="20" readonly required>
                <mat-error *ngIf="addCusForm.controls.country.hasError('required')">
                  Please enter Country
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.country.hasError('pattern')">
                  Please enter Country
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          
        </mat-grid-list>
  
        <div class="btn-sec">
          <button mat-raised-button *ngIf="!edit" type="submit" color="primary" class="Update-btn">Save</button>
          <button mat-raised-button *ngIf="edit" type="submit" color="primary" class="Update-btn">Update</button>
          <button mat-raised-button type="button" class="Discard-btn" [mat-dialog-close]="true">Cancel</button>
        </div>
  
      </form>
    </div>
  </div>
  